# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
build
dist


# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
# Other
/build
/dist-electron
/electron-server/dist_back
/electron-server/dist_viewer
/electron-server/venv_back
/electron-server/venv_viewer
/release
/resources/*
/uploads
geodeapp_back
geodeapp_back.spec
geodeapp_back.exe.spec
geodeapp_viewer
geodeapp_viewer.spec
geodeapp_viewer.exe.spec