# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
build
dist
/dist-electron
/electron-server/dist_back
/electron-server/dist_viewer
/electron-server/venv_back
/electron-server/venv_viewer
resources

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
# Other
/out
/dist-electron
/build
/lock
/uploads
/vease_data
geodeapp_back.spec
geodeapp_viewer.spec