# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
build
dist


# Node dependencies
/node_modules 

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
# Other
/build
/dist-electron
/microservices/back/dist
/microservices/viewer/dist
/microservices/back/venv
/microservices/viewer/venv
/release
/uploads
vease-back*
vease-viewer*
VTK.txt

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
package-lock.json
# Local Netlify folder
.netlify
