[[redirects]]
from = "https://vease.geode-solutions.netlify.com/*"
to = "https://vease.geode-solutions.com/:splat"
status = 301
force = true

[[plugins]]
package = "@netlify/plugin-functions-install-core"

[context.production]
command="cd .. && sed -i 's/0\.0\.0/latest/g' package.json && npm i && npm run generate"
[context.production.environment]
PROJECT = "/vease"
SITE_BRANCH = ""
RECAPTCHA_SITE_KEY = "6Lce72wgAAAAAOXrHyDxRQBhk6NDTD80MrXOlgbC"
SITE_URL = "https://vease.geode-solutions.com"

[context.branch-deploy]
command="cd .. && sed -i 's/0\.0\.0/next/g' package.json && npm i && npm run generate"
[context.branch-deploy.environment]
PROJECT = "/vease"
SITE_BRANCH = "/test"
RECAPTCHA_SITE_KEY = "6Lce72wgAAAAAOXrHyDxRQBhk6NDTD80MrXOlgbC"
SITE_URL = "https://next.vease.geode-solutions.com"
[build]
base = "app"
publish = "../.output/public"
