@import "@fontsource/michroma";

* {
  font-family: "Roboto", sans-serif;
}
* {
  user-select: none;
  box-sizing: border-box;
}

html,
body,
#outer-app,
.v-application {
  overflow: hidden !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}

.custom-background {
  background: linear-gradient(
    135deg,
    rgba(56, 157, 133, 1) 0%,
    rgb(60, 153, 131) 50%,
    rgb(20, 19, 19) 100%
  );
}

.title-text {
  font-weight: 300;
  background: linear-gradient(to right, #ffffff, #a7f3d0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-michroma {
  font-family: "Michroma", sans-serif;
}
